.box2 { background-color:white;
    //width: 350px;
    //background: blue;
    text-align: center;
    height: 350px;
     width: 400px;
    position: relative;
    top: 50px;
    left: 35%;
    border-radius: 15px;
    //width: 25%;
}
.nbr-cd {
position: relative;
    top: -3px;
    left: -1%;
text-align: center;
height: 30px;
width: 190px;
border-radius: 1px;

}
img {
display: inline-block;
position: relative;
left: 42%;
top: -1px;
background-repeat: no-repeat;
width: 200px;
height: 200px;
padding: 0;
}