body{
    background-color: black;
}
button {
    display: inline-block;
    position: relative;
   left: 40%;
  top: 250px;
    font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
    width: 250px;
    height: 100px;
}