label {
    text-align: center;
    color: yellow;
    font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  font-display: fallback;

}

.form-row {
    text-align: center;
    width: 700px;
    position: relative;
    left: 11%;

}

.form-group {
    text-align: center;
    width: 700px;
    position: relative;
    left: 25%;
}

form {
    text-align: center;
}