button {
    display: inline-block;
    position: relative;
   left: 40%;
  top: 200px;
    font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
    width: 200px;
    height: 100px;
}

p {
    color: yellow;
    display: inline-block;
    position: relative;
   left: 40%;
  top: 100px;
    font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
    width: 200px;
    height: 100px;
}

img {
    display: inline-block;
    position: relative;
   left: 35%;
  top: 100px;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    padding: 0;
}